{% extends "base.html" %}

{% block content%}

<form action="/login" method="POST">
  <div class="form-group">
    <label for="exampleInputAccount">Account</label>
    <input type="account" class="form-control" id="exampleInputAccount" name="InputAccount" placeholder="Account" required>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword" name="InputPassword" placeholder="Password">
  </div>
          <small id="accountHelp" class="form-text text-muted">{{message}}</small>
    <br>
    <a href="/register"><h6>Register</h6></a>
  <button type="submit" class="btn btn-default">Login</button>
</form>


{%endblock%}