{% extends "base.html" %}

{% block content%}

<form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputAccount">Account</label>
    <input type="text" class="form-control" id="exampleInputAccount" name="InputAccount" placeholder="Account" required>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword" name="InputPassword" placeholder="Password" required minlength="4">
  </div>
          <small id="accountHelp" class="form-text text-muted">{{message}}</small>
    <br>
    <a href="/login"><h6>Login</h6></a>

  <button type="submit" class="btn btn-default">Create</button>
</form>


{%endblock%}